.projects__holder {
    text-align: center;
    padding-top: 50px;


    /* border: 1px solid blue; */
}
.project__holder {
    display: inline-block;
    height: 60px;
   
    margin: 40px 0px 40px 0px;
   
    text-align: center;

  

}
.project__title span {
    font-size: 5vmax;
    font-weight: 700;
    vertical-align: top;
    display: inline-block;

   
}
.project__title {
    font-size: 5vmax;
}








