.TopLeftHeader {
    display: inline-block;
    font-weight: 500;
    font-size: 2em;
    position: absolute;
    left: 5%;
    top: 50%;
    vertical-align: middle;
    animation: fadeInTop 1s ease-in;

    /* transform: translateY(-50%;) */
   
}




@keyframes fadeInTop {
    0% {
        transform: translateY(-20px);
        opacity: 0;

    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
    
}