.TopLeftHeader {
    display: inline-block;
    font-weight: 500;
    font-size: 2em;
    position: absolute;
    left: 5%;
    top: 50%;
    vertical-align: middle;
    animation: fadeInTop 1s ease-in;

    /* transform: translateY(-50%;) */
   
}
@media (max-width: 600px) and (max-height:850px) {
    .TopLeftHeader {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        animation: none;
    }
}



@keyframes fadeInTop {
    0% {
        transform: translateY(-20px);
        opacity: 0;

    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
    
}