/* 

Here are the main colors ======
#81FFDD 

#603EFE 


#252626


*/


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #252626
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:active {
  color: #222222;
  text-decoration: none;

}

a:visited  {
  color:#222222
  
}
