/* 

Here are the main colors ======
dawn #0EFFA1 · #ED00FF 

*/


body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #222222
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: #222222;
  text-decoration: none;

}

a:visited  {
  color:#222222
}